.blog-post-list > .row-fluid {
   margin-bottom: $baseLineHeight;
}
.blog-full-width {
  .blog-post-item {
    .post-title {
      font-size: $baseFontSize * 1.5;
      font-weight: normal;
      margin-bottom: 0;
      a {
        //color: $textColor;
        &:hover {
          //color: $themeColor;
          text-decoration: none;
        }
      }
    }
    .post-meta {
      color: $black;
      font-style: italic;
    }
    .post-links {
      text-transform: uppercase;
    }
  }
}
.blog-classic {
  .blog-post-item {
    .post-title {
      font-size: $baseFontSize * 1.5;
      font-weight: normal;
      margin-bottom: 0;
      a {
        //color: $textColor;
        &:hover {
          //color: $themeColor;
          text-decoration: none;
        }
      }
    }
    .post-meta {
      color: $black;
      font-style: italic;
    }
    .post-links {
      text-transform: uppercase;
    }
  }
}
