/* FOOTER
-------------------------------------------------- */
#footer {
   background-color: #222;
   padding-top: $line-height-computed * 1.5;
   padding-bottom: $line-height-computed * 1.5;
   text-align: left;
  .container {
    padding-top: $line-height-computed;
    padding-bottom: $line-height-computed; 
  }
  address {
    color: #989898;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 0; 
    text-transform: uppercase;
    text-align: center;
    margin-bottom: $line-height-computed; 
  }
  .nav {
    > li {
      float: left;
      margin-right: 15px;
    }
    > li > a {
      color: #989898;
      font-size: 11px;
      padding: 0;
      &:hover {
        color: $brand-primary;
        background-color: transparent;
      }
    }
  }
  @media (min-width: $grid-float-breakpoint + 1) {  
    padding-top: $line-height-computed * 3;
     padding-bottom: $line-height-computed * 3;
    address {
      text-align: left;
    }
  }
}
/* COPYRIGHT
-------------------------------------------------- */
#copyright {
  background-color: #222;
  color: #989898;
  font-size: 11px;
  padding-top: $line-height-computed;
  padding-bottom: $line-height-computed;
  border-top: 1px solid lighten(#222, 10%);
  p {
    margin-bottom: 0;
  }
  .nav {
    > li {
      float: left;
      margin-right: 15px;
    }
    > li > a {
      color: #989898;
      font-size: 11px;
      padding: 0;
      &:hover {
        color: $brand-primary;
        background-color: transparent;
      }
    }
  } 
}
.copyright-author {
  background: transparent image-url('gko/logo_gecko_black.png') center left no-repeat;
  padding-left: 28px;
}
