#header {
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  overflow: hidden;
  height: auto;
  height: 100%;  
  position: relative;
  .text-container {
    @include opacity(.9);
     z-index: 2;
     position: absolute;
     @include center-block; 
     background-color: $theme-color;
     padding: 30px;
     width: 320px;
     height: 200px;
     left: 50%;
     bottom: 40px;
     margin-left: -160px; 
  }
  .share {
    text-align: center;
    width: 100%;
    @include center-block;
    margin-top: 40px;
    > h3 {
      width: 136px;
      font-size: 12px;
      line-height: 16px;
      margin: auto;
      text-align: center;
      letter-spacing: 0.3em; 
      color: #fff;
      font-style: italic;
      margin-bottom: $line-height-computed;  
      > .title {
        margin: auto 18px auto 18px;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.3em;
      }
      > .line {
        display: block;
        width: 20px;
        height: 1px;
        margin-top: 5%;
        border-top: solid 1px #FFF;
      }
    }
    .nav {
      @include center-nav();
    }
    .nav > li > a {
      margin-bottom: 0;
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      line-height: 30px; 
      padding: 0;
      text-align: center;
      background-color: #fff;
      @include box-shadow(none);
      &:hover {
        background-color: #000;
      }
    }
  }
}
.no-touch #header{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
#section-lastest-projects,
#section-archived-projects {
  overflow-x: hidden;
}
#section-archived-projects {
  background-color: $gray-dark;
}
.section-links {
  margin-top: 20px; 
}
.section-title-container { 
  background-color: $gray-lighter;
  padding-top: 3.125em;
  padding-bottom: 3.125em;  
  h3 {
    text-transform: uppercase;
    font-weight: 300; 
    letter-spacing: 4px;
    margin-top: 0;
  }
  p {
    text-align: center; 
    letter-spacing: 1px;
    line-height: 1.3;
  }
} 
.portfolio-section { 
  
  .section-title-container {
    color: #f3f3f3;
    background-color: $gray-dark; 
    
  }
  
  .btn-bordered-default {
    
    border: 2px solid #7a7a7a;
    color: #7a7a7a;
    .active,
    &:hover {
      border-color: $brand-primary;
      color: $brand-primary;
    }
  }
  blockquote {
    font-size: 18px;
    font-style: italic;
    line-height: 1.2;
    position: relative;
    color: inherit;
    border: none; 
    padding: 0;
    margin: 0;
    &:before {
      display: block;
      content: "\201C";
      font-size: 80px;
      position: absolute;
      left: -20px;
      top: -20px;
      color: #7a7a7a;
    }
    p {
      line-height: 1.45; 
    }
    cite {
      color: #999999;
      font-size: 14px;
      display: block;
      margin-top: 5px;
      &:before {
        content: "\2014 \2009";
      }
    }
  }
}

#team-section {
  padding: 100px 40px;
  background-color: #fff;
  h4 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
  } 
  a {
    color: $text-color;
    .active,
    &:hover {
      color: $link-hover-color;
      text-decoration: none;
    }
  }
}

.portfolio-post-item {
  background-color: #fff;
  position: relative;
  @include transition(all 0.3s ease-in-out);
  a {
    display: block;
  	min-height: 260px;
  	position: relative; 
  	color: #000;
  	cursor: image-url('cursor_more.gif') 38 38, image-url('cursor_more.cur') 38 38, pointer;
  	.active,
    &:hover {
  	  text-decoration: none;
  	}
  }
  .post-image {
    padding: 0;
    margin: 0;
    img {
      @include img-responsive;
    }
  }
  .post-caption {
    padding: $line-height-computed*2 8px;
    margin: 0;
    text-align: center;
  }
  .post-title {
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    @include transition(all 0.3s ease-in-out);
  }
  .active,
  &:hover {
    background-color: $brand-primary;
    .post-image {
      @include opacity(.7);
    }
    .post-title {
       color: #fff;
       text-decoration: none;
     }
  }
}
#section-archived-projects {
  overflow-x: hidden; 
  .col-xs-3, .col-sm-2 {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    a {
      display: block;
    	min-height: 0;
    	position: relative; 
    	color: #000;
    	cursor: image-url('cursor_more.gif') 38 38, image-url('cursor_more.cur') 38 38, pointer;
    	.active,
      &:hover {
    	  text-decoration: none;
    	}
    }
    .post-infos {
      text-align: center; 
      display: table;
    }
    .post-title {
      font-weight: 300;
      font-size: 11px;
      letter-spacing: 1px;
      text-transform: uppercase;
      @include transition(all 0.3s ease-in-out);
      span {
        vertical-align:middle;
        display:inline-block;
      }
       
    }
    .post-image {
      padding: 0;
      margin: 0;
      img {
        @include img-responsive;
      }
    } 
    .post-caption {
      margin: 0;
      text-align: center; 
      padding: $line-height-computed 8px;
      position: absolute; 
      @include opacity(0);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; 
      color: #fff;
      background-color: $theme-color;
      @include transition(all .4s linear); 
    }
    &:hover {
      .post-caption {
        @include opacity(1); 
      }
    }
  }
}
/* RESPONSIVE
-------------------------------------------------- */
@media (min-width: $grid-float-breakpoint + 1) {
  .section-title-container {
    padding-top: 6.25em;
    padding-bottom: 6.25em;
  }
  section h1 {
    font-size: 3.125em;
  }
}
