/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-brand {
  padding-top: ($navbar-height - $th-brand-logo-height)/2;
  padding-bottom: ($navbar-height - $th-brand-logo-height)/2;
}
.navbar-nav > li > a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: $font-size-base - 4;
}

#locales-menu {
  position: fixed;
  z-index: $zindex-navbar-fixed + 1;
  right: 0;
  top: 0;
  .nav > li > a { 
    background-color: $brand-primary;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: $font-size-base - 5;
    padding: 4px 8px;
    &:hover,
    &:focus {
      background-color: lighten($brand-primary, 10%); 
      color: white;
    }
  }
}

/* RESPONSIVE
-------------------------------------------------- */
@media (min-width: $grid-float-breakpoint + 1) {
  .navbar-nav {
    @include pull-right;
  }
}