/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-brand {
  padding-top: ($navbar-height - $th-brand-logo-height)/2;
  padding-bottom: ($navbar-height - $th-brand-logo-height)/2;
}
.navbar-nav > li > a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: $font-size-base - 4;
}

#locales-menu { 
  position: relative;
  .nav > li > a { 
    background-color: $brand-primary;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: $font-size-base - 4;
    line-height: $line-height-computed;
    &:hover,
    &:focus {
      background-color: lighten($brand-primary, 10%); 
      color: white;
    }
  }
}

/* RESPONSIVE
-------------------------------------------------- */
@media (min-width: $grid-float-breakpoint + 1) {
  .navbar-nav {
    @include pull-right;
  }
  #locales-menu {
    @include pull-right;
    .nav > li {
      float: left;
      > a {
        padding-top: (($navbar-height - $line-height-computed) / 2);
        padding-bottom: (($navbar-height - $line-height-computed) / 2);
      }
    }
  }
}