.portfolio-post-single {
  padding-top: $line-height-computed;
  .img-responsive {
    margin-bottom: $line-height-computed;
  }
  .page-title {
    margin-top: 0;
  }
  .year {
    color: $brand-primary;
  }
}