<article class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1><%= parent.title %></h1>
      </div>
      <%= render_copy_text(parent.body) %>
    </div> 
  </div>  
</article>
<section class="container document-items">
	<div class="row">
    <%= render collection %>
  </div>
</section> 