<% if project -%>
<article class="col-xs-6 col-sm-2 portfolio-post-item">
  <%= link_to(project.public_url, :data => { :push => true, :target => "#project-content"}) do %>
    <div class="post-image">
      <%= image_tag(project.thumbnail.thumbnail("450x325#").url(), :alt => project.thumbnail.title, :class => "grayscale" ) if project.thumbnail %>
    </div>
    <div class="post-caption">
      <h2 class="post-title"><%= project.title %></h2>
      <p class="year"><%= project.preferred_release_date %></p>
    </div>
    <div class="wrap"></div> 
  <% end %>
</article>
<% end -%> 
