<%# resource_cache(resource) do %>
<article class='project'>
  <div class="container row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <% resource.images.each do |img| %>
        <%= image_tag(img.thumbnail.black_and_white("800x").url(), 
          :alt => img.title,
          :class => 'img-responsive' ) %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="page-header">
        <%= render_page_title(resource.title) %>
      </div>
      <div class="post-description">
        <%= render_copy_text(resource.body) %>
      </div>
        <%= link_to("Visiter le site Internet".html_safe, resource.website, 
          :target => "_blank", :class => "btn btn-default") unless resource.website.blank? %>
          
      <div>
        <span class="share">share:&nbsp;</span>
        <span class="socials"><a href="#" onclick="
            window.open(
              'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
              'facebook-share-dialog', 
              'width=626,height=436'); 
            return false;">Facebook</a>, <a href="https://twitter.com/share" data-lang="en" target="_blank">Twitter</a></span>
       </div>
    </div>   
  </div>
</article>

<%# end %>