<%= image_tag(record.thumbnail.thumbnail("1200x800#").url(), 
  :alt => record.thumbnail.title,
  :class => 'img-responsive grayscale' ) if record.thumbnail %>
<h3 class="no-margin-bottom"><%= record.title %></h3>
<p><em><%= get_text_element(record,'fonction') %></em></p> 
<%= render_copy_text(record.body) %>